@import 'vars';

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url('https://tagn.files.wordpress.com/2009/07/ononyxiarevealed.png');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}